@charset "utf-8";
/* CSS Document */
body{
    font: 10px/1.5 "Comic Sans MS", Helvetica, Arial, sans-serif;
     padding: 0;
     margin: 0;}
	 * {
    box-sizing: border-box;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-weight: normal;
    font-style: normal;
}
#Segmenting line{
	color:#CCC;}
	ol,
ul {
    list-style: none;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
font-weight: normal;
  font-size: 100%;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2rem;
}
.section-text{font-size: 1.5rem;
margin: 100px 0;
	color: #d0d0cf;}

.size-container {
    width: 1000px;
    margin: 0 auto;
}
.one{
	padding: 200px 0;
	text-align:center;
	color:#fff;
	background:url(img/1.png);
	background-size:cover;}
	#account-form {
    padding: 50px 100px;
    border: 1px solid #615c4a;
    border-radius: 4px;
}
#account-form h2 {
    font-size: 1.5rem;
}
#account-form p {
    font-size: 1.2rem;
    margin: 20px 0 46px 0;
    color: #83807b;
}
#account-form input {
    margin-right: 30px;
    border-radius: 4px;
}
#account-form input[placeholder] {
    width: 280px;
    height: 50px;
    line-height: 48px;
    padding: 0 15px;
    color: #fff;
    background: transparent;
    border: 1px solid #615c4a;
}
#account-form input[type="button"] {
    width: 130px;
    height: 50px;
    border: 3px solid #fff;
    background: #fff;
    cursor: pointer;
   }
   #account-form input[type="button"]:hover {
    color: #fff;
    background:#3FC;
}
.two{
	padding-top: 90px;
	text-align:center;}
	.two h2{
		font-size: 1.5rem;}
.two-text1 {
    display: block;
    font-size: 3.5rem;
    margin: 40px 0 90px 0;
}
.featrue-list {
    text-align: left;
}
.two-text,.four-text{
	font-size: 1.2rem;
	 color:#797979;}
.featrue-list li {
    display: inline-block;
 	max-width: 420px;
	padding-left: 80px;
    margin-right: 120px;
    margin-bottom: 90px;
	vertical-align: top;
    background-repeat: no-repeat;}
.featrue-list li:nth-child(1){
	margin-right: 0;
	background-image:url(img/2.png);
	 background-position: 16px;
	}
.featrue-list li:nth-child(2) {
    margin-right: 0;
    background-image: url(img/3.png);
    background-position: 16px;
}
.featrue-list li:nth-child(3){
	margin-right:0;
	background-image: url(img/4.png);
	background-position: 5px;}
	.featrue-list li:nth-child(4){
	margin-right:0;
	background-image: url(img/5.png);
	background-position: 16px;
	}
.Three{position: relative;
    min-height: 800px;
    padding: 70px 0;
	color: #fff;
	background-image: url(img/6.png);
	background-size:cover;
	 overflow: hidden;}
.three-content{
	position: absolute;
    right: 930px;
    left: 47%;
    margin-left: -420px;}
	.three-content p{
		font-size: 1.3rem
		}
		.three-content button{
			margin-right:20px;
			width:190px;
			height:60px;
		color: #000;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
	cursor: pointer;
    transition: background-color 1s, border-color 1s;}
	.three-content button[name="try-product"]{
		margin-right: 0;
    color: #fff;
    background-color: transparent;
    border-color: #6e746f;
}
.three-content button[name="try-product"]hover{
	 background-color: #000;
    border-color: #fff;}
	.three-content button[name="check-out"]hover{
		 color: #fff;
    background-color: #141414;}
	.ipad{position:absolute;
	top: 90px;
    right:10px;
	width: 644px;
    height: 600px
	}
	.four{
		padding:90px 0;
		text-align:center;}
.products-1{
	display:flex;
margin: 90px 0 150px 0;}
.products-1 li{
	flex: 1 1 auto;
    margin-right: 90px;
}
.products-1 li:last-child{
	margin-right:0;}
	.products-1 h4{
		height:36px;
		margin-bottom:50px;}
		.products-1 img{
			no-repeat center;
			margin-bottom:30px;}
			.product-2{
				text-align: left;
				padding-top:80px;}
				.product-2 li{
					display: flex;
    justify-content: space-between;
    margin-bottom: 80px;}
	.product-2 li:last-child {
    margin-bottom: 0;
}
.product-2 li:nth-child(2){
	flex-direction: row-reverse;}
	.product-2 li:nth-child(1){
		flex-direction:row;}
		.product-2 li img {
    flex: 0 0 560px;}
	.product-2 li:nth-child(2) img{
		margin-left:20px;}
		.product-2 li:nth-child(1) img{
			margin-right:20px;}
	.five{
		padding:90px 0px;
		text-align:center;}
		.five p{
			margin-top: 36px;
    color: #797979;}
	.five-list{
		 display: flex;
    flex-wrap: wrap;
}
.five-list li{
	flex: 1 1 auto;
    margin-right: 15px;
    margin-bottom: 15px;}
	.five-item{
		position: relative;
    cursor: pointer;
	transition: display 1s;
}
.five-list .five-item:hover .mask,.five-list .five-item:hover .mask-content{
	display: block;}
	.five-list .mask{
		position: absolute;
		top: 0;
        left: 0;
		 width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    display: none;
    transition: display 1s;
}
.five-list  .mask-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 95px 0 90px 0;
    color: #fff;
    text-align: center;
    display: none;
    transition: display 1s;
}
.five-list .mask-content p {
    margin: 12px 0 30px 0;
    font-size: 0.7rem;
    color: #adadad;
}
.five-list .contact-list{
	display: flex;
    justify-content: center;}
a{
	text-decoration: none;
	width:60px;
	height:60px;
	border:1px solid red;
	border-radius:50px;
	text-align:center;
	border-color:#666;
	line-height:60px;
}
.six{
	padding: 100px 0 130px 0;}
	.six .size-container{
	display: flex;
    justify-content: space-between;}
	.six .flex-item{
		 flex: 1 1 auto;}
		 #message-form {
    text-align: center;
    margin-right: 170px;
	border:1px solid #CCC;
	padding-bottom:30px;
	padding-top:30px;
	}
	#message-form h4 {
    margin-bottom: 40px;
	font-size: 1.0rem;
}
#message-form input,
#message-form textarea {
    width: 370px;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 30px;
    border: 1px solid #d4d3d3;
    border-radius: 4px;
}
#message-form textarea {
    height: 150px;
    padding-top: 10px;
    padding-bottom: 20px;
    resize: none;
}
#message-form input[type="button"] {
    color: #fff;
    background: #141414;
    border-color: #141414;
    cursor: pointer;
}
#contact .section-text{
	margin-top:30px;
	margin-bottom:60px;
	font-size:1.0rem;
	color: #7d7d7d;
	}
	.company-contact-list{
		font-size:20px;
	}
	.company-contact-list li {
    margin-bottom: 40px;
    padding-left: 40px;
}

.company-contact-list .fa {
    width: 40px;
    margin-left: -40px;
    font-size: 2rem;
    vertical-align: middle;
}
#footer {
    padding: 90px 0 100px 0;
    font-size: 1.0rem;
    color: #676767;
    background: #141414;
}
#footer .size-container {
    display: flex;
    justify-content: space-between;
    width: 1270px;
}
#footer dl {
    flex: 1 1 auto;
    max-width: 270px;
}
#footer dt {
    font-size: 1.2rem;
    color: #fff;
}
#footer dd {
    margin-top: 30px;
}
#footer .section-text {
    font-size: 1.2rem;
    color: #919191;
}
#footer .contact-list {
    display: flex;
    color: #5b5b5b;
}
#footer .contact-list li {
    flex: 1 1 auto;
}

#footer .fa {
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 1s;
}
#footer .fa:hover {
    transform: scale(2, 2)
}
